* {
    margin: 0;
    padding: 0;
}
.navbar {
    color: #2b323a;
    font-size: 25px;
    font-weight: 70px;
    background-image: linear-gradient(to top, #E6DADA,#55747c);
}
.body-bg {
    color: #2b323a;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: linear-gradient(to right, #e5f8e9,#7da5b1);
}
.navbar-dark {
    background-image: linear-gradient(to top, #f5d7e6,#143e44);
    color: #2b323a;
}
.dark{
    color: black;
    background-image: linear-gradient(to right, #1b1a1b, #7a767a);
}
div.head-add-student {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
div.head-add-student h1 {
    font-size: 100px;
    font-weight: 100;
    text-decoration: overline underline;
    margin-bottom: 25px;
}
div.head-add-student button {
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
    background-image: linear-gradient(to bottom, #343ba3, #9bb9e5);
}
div.students-list-container {
    width:70%;
    margin: 0 auto;
    font-size: 18px;
}   
.table-hover {
    background-image: linear-gradient(to top, rgb(150, 79, 79), rgb(204, 161, 161));
    text-align:center;
}
.std-summary {
    width: 70%;
    text-align: center;
    margin: 10px;
}
div#aboutUs {
    background-color: #e7e6b2;
    color: #2b323a;
    padding: 100px;
    background-image: linear-gradient(to top, #e7e6b2, #646443);
}
div#aboutUs div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#contactUs {
    padding: 100px;
    background-image: linear-gradient(to top, #c19fcc, #3e2b44);
}
div#contactUs div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease;
}
.footer-content{
    background-image: linear-gradient(to right, #91908f, #bbabba);
    border-style: none;    
    height: 35px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
    color: #495057;
    padding: 3px;
    position: fixed;
    bottom: 0;
 }
 .footer-dark {
     background-image: linear-gradient(to right, #363536, #727272);
     color: #0e0d0d;
 }